<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="..\..\content\styles.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

</body>
</html>
