@model int

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>
<h3>@Model</h3>


<button onclick="DoClick()">RRR</button>

<script type="text/javascript">
    function DoClick() {
        alert("hello everybody !");
    }
</script>

