BODY
{
    font-family: Cambria,Georgia,"Times News Roman"; margin:0;
}
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.Pager A
{
    font: bold lem "Arial Narrow", "Franklin Gothic Medium", Arial;
}
DIV#header
{
    background-color: #000444; border-bottom: 2px solid #111; color: White;
}
DIV#header div.title {font-size: 2em; padding: .6em}
DIV#content {border-left: 2px solid gray; margin-left: 9em; padding: 1em;}
DIV#categories {float: left; width: 8em; padding: .3em;}
DIV.item
{
    border-top-style: dotted;
    border-top-color: gray;
    border-top-width: 1px;
    padding-top: .7em; margin-bottom: .7em;
}
/*------------------------------------------------------------------------*/
my_grd_col
{
    background-color: Green;
}
css_test
{
    background-color: Green;
}
